.section {
    padding: 40px 20px;
}
.container {
    /* max-width: 1200px; */
    margin: 0 auto;
    /* width: 80%;   */
    text-align: left;
    z-index: 1;
    position: relative;
    max-width: 800px;
    padding: 0 20px;
}

.hero-section {
    background-image: url('/images/hero-section.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.subtext-section {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    max-width: 1300px;
    width: 100%;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
}

#subtext-text-container {
    flex: 1;
    padding-left: 100px;
}

#subtext-img-container img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.intro-section, .technology-section, .features-section, .commitment-section {
    text-align: center;
}
.intro-section p, .commitment-section p {
    max-width: 800px;
    margin: 0 auto;
}
.feature-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}
.feature-item {
    flex-basis: 45%;
    margin-bottom: 20px;
    text-align: left;
}
.image-placeholder {
    background-color: #f0f0f0;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}